canvas {
    display: flex;
    justify-content: end;
}

#main {
    display: flex;
    margin-left: 350px;
}

body {
    background-color: #D4D4D5;
}

img{
    width: 400px;
    height: 300px;

}